appdirs
requests
requests-cache==1.2.0
retry-requests==2.0.0
ey>=0.3.0,!=0.3.1
numpy
pandas
pyarrow
scipy
cartopy
geopandas
matplotlib
protobuf
tqdm
joblib
geopy~=2.0.0
networkx
py7zr
twofish
hopsworks
confluent-kafka
python-magic
openmeteo_requests
